h1 {
    color:rgb(10, 10, 65);
    text-align: center;
    text-decoration: underline;
    text-decoration:double;
    font-size: x-large;
}

li {
    color:rgb(10, 10, 65);
    font-size: larger;
}

body {
    font-family: comic Sans MS, Comic Sans, cursive;
    background-image: url("background.jpg");
    background-repeat:repeat-y;
    background-size: 100vw 100vh;
}

#créer_liste {
    width: 50%;
}

#champ-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style-type:none
}

